body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100vh;
    background-color: #f4f4f4;
}
.boton {
    background-color: purple;
    color: black;
    border-radius: 50px;;

}
.boton1 {
    background-color: orange;
    color: black;
    border-radius: 50px;;

}
.boton2 {
    background-color: green;
    color: black;
    border-radius: 50px;;

}
.boton3 {
    background-color: aqua;
    color: black;
    border-radius: 50px;;

}
.tabla1 {
    width: 25%;
    border-collapse: collapse;
}

.tabla1 {
    width: 25%; 
    height:100%; 
    border-collapse: collapse; 
}

.tabla1 td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
    vertical-align: middle; 
}
.tabla2 {
    width: 100%;
    height: px; 
    border-collapse: collapse; 
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    margin-bottom: 20px; 
    align-items: center;  
}

.tabla2 td, .tabla2 th {
    border: 5px solid black; 
    padding: 10px; 
}
.text1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif; 
    font-size: 40px; 
}
.text2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif; 
    font-size: 30px; 

}
.text3{
    text-align: justify;
    font-family: Arial, sans-serif; 
    font-size: 25px; 
    background-color: lightblue; 
    font-weight: bold; 
}